defaults:
  - base

_target_: gflownet.envs.crystals.crystal.Crystal

# Composition parameters
id: crystal
composition_kwargs:
  elements: 89
lattice_parameters_kwargs:
  min_length: 1.0
  max_length: 5.0
  min_angle: 30.0
  max_angle: 150.0
  grid_size: 10
# Stoichiometry <-> space group check
do_stoichiometry_sg_check: False

# Buffer
buffer:
  data_path: null
  train:
    type: all
    output_csv: crystal_train.csv
  test:
    type: all
    output_csv: crystal_test.csv
