defaults:
  - base

_target_: gflownet.envs.alaninedipeptide.AlanineDipeptide

path_to_dataset: './data/alanine_dipeptide_conformers_1.npy'
url_to_dataset: 'https://drive.google.com/uc?id=1r1KRGcpBhR3xaS8yt2i64dfMnJGgNj4C'
id: alaninedipeptide
policy_encoding_dim_per_angle: null
# Fixed length of trajectories
length_traj: 10
vonmises_min_concentration: 1e-3
# Parameters of the fixed policy output distribution
n_comp: 3
fixed_distr_params:
  vonmises_mean: 0.0
  vonmises_concentration: 0.5
# Parameters of the random policy output distribution
random_distr_params:
  vonmises_mean: 0.0
  vonmises_concentration: 0.001
# Buffer
buffer:
  data_path: null
  train: null
  test:
    type: grid
    n: 1000
